.ql-toolbar.ql-snow {
  border: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
}

.ql-container {
  min-height: 500px;
  height: 500px;
}

.ql-container.ql-snow {
  border: 1px solid #e5e5e5;
  border-radius: 0 0 4px 4px;
}

.ql-container.ql-snow > .ql-editor {
  padding: 12px 15px;
}

.ql-editor {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  min-height: 300px;
}

.ql-editor img {
  max-width: 1200px;
  height: auto;
}

.ql-editor > * {
  margin: 1em 0;
}

.ql-editor.ql-snow.board-view {
  overflow: visible;
}

@media (max-width: 1200px) {
  .ql-editor img {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ql-editor {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*------------- error -------------*/
.quill-error .ql-toolbar.ql-snow {
  border: 1px solid red;
}

.quill-error .ql-container.ql-snow {
  border: 1px solid red;
}

/*------------- write quill -------------*/
.ql-editor h1 {
  font-size: 2em;
  font-weight: bold;
}

.ql-editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ql-editor h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.ql-editor br {
  display: block;
  content: "";
  margin-top: 0.5em;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  color: #71717a;
  font-size: 1.1em;
  padding-top: 0.3em;
}

.quill > .ql-editor {
  position: relative;
}

.ql-tooltip.ql-editing {
  position: absolute;
  top: 0 !important;
  left: 25% !important;
}
