.ql-toolbar.ql-snow {
  border: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
}

.ql-container {
  min-height: 300px;
}

.ql-container.ql-snow {
  border: 1px solid #e5e5e5;
  border-radius: 0 0 4px 4px;
}

.ql-editor {
  padding: 0;
}

/*------------- error -----------*/
.quill-error .ql-toolbar.ql-snow {
  border: 1px solid red;
}

.quill-error .ql-container.ql-snow {
  border: 1px solid red;
}
